In [3]:
import numpy as np
import pandas as pd

In [13]:
os.path.isfile("../config.yaml")

True

In [15]:
try:
    with open("../config.yaml", "r") as file:
        config = yaml.safe_load(file)
except Exception as e:
    print("Config file not found!!!")

Config file not found!!!

In [ ]:
#load the data

data = pd.read_excel('../data/raw/Average_of_spend_per_visit.xlsx', engine="openpyxl")

In [ ]:
data

In [ ]:
#now 'Average spending per day' is focused and will be analysed. So, the column related to 'Average spending per visit' is removed.


data1 = data.iloc[:,[0,8,9,10,11,12]]
data1

In [ ]:
#change the column' names
data1.columns = ['country','2018', '2019', '2020', '2021', '2022']
data1

In [ ]:
#remove some null vaslus 
data2 = data1.iloc[5:,:]
data2

In [ ]:
# %load ../src/function.py
import pandas as pd

def remove_region(df:pd.DataFrame) -> pd.DataFrame:
	'''
	This function removes enexpected values(region) of the column: 'country' but only' total world' and 
	something of 'other--- ' are remained.

	Input:pd.DataFrame

	Output:pd.DataFrame  


	''' 
	df2 = df.copy()

	remove_regions = {'North America', 'North America', '- of which EU', '- of which EU15', '- of which EU Oth', 'Europe'}

	#for i in len(df):
	#	if df2['country'] in remove_regions:
	#		df2. 
	df2 = df2[~df2['country'].isin(remove_regions )]





	return df2

In [ ]:
%run -i ../src/function.py

data3 = data2.copy()
data3 = remove_region(data3)
data3

### All numerical values are changed into numbers with the second decimal places.

In [ ]:
# all numerical values are changed into numbers with the second decimal places.
# chack the data type
data4 = data3.copy()
data4.dtypes

In [ ]:
#search the value of '2020'
data4['2020'].value_counts()

In [ ]:
# replace '-' with null values
data5 = data4.copy()

data5.loc[:,'2020'] = np.nan
#data5 = data5.replace('-', np.nan)
data5

In [ ]:
# change the index 
data6 = data5.reset_index(drop=True)
data6

In [ ]:
# replace '-' with null values at the row 62 
#data6.loc[6,'2018'] == np.nan
data6['2018'] = data6['2018'].replace('-', np.nan)
data6['2019'] = data6['2019'].replace('-', np.nan)
data6

In [ ]:
# change types of '2018', '2019' and '2022' into the float type.
data7 = data6.copy()
data7['2018'] = data7['2018'].astype('float64')
data7['2019'] = data7['2019'].astype('float64')
data7['2020'] = data7['2020'].astype('float64')
data7['2022'] = data7['2022'].astype('float64')
data7.dtypes

In [ ]:
# round numerical values up to the second decimal points. 
data8 = data7.copy()
data9 = data8.round(2)
data9

In [ ]:
# save the data
data9.to_csv('../data/semi_cleaned/cleaned_spending_per_day.csv', index=False)